:host {
  --animation-duration: 60s;
}

.marquee {
  position: relative;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.track {
  position: absolute;
  will-change: transform;
  animation: marquee var(--animation-duration) linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

.sponsors {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    display: block;

    img {
      height: 100vh;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
