:host {
  --animation-duration: 60s;
}

.marquee {
  position: relative;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  height: 100px;
}

.track {
  height: 100px;
  position: absolute;
  will-change: transform;
  animation: marquee var(--animation-duration) linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

.sponsors {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    display: block;

    img {
      height: 100px;
    }

    /* Zoom in slightly with nice animation on hover: */
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      z-index: 999;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
